force-app/main/default/flows/Display_Recommendations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Sales_Recommendations</name>
        <label>Get Sales Recommendations</label>
        <locationX>186</locationX>
        <locationY>51</locationY>
        <actionName>ExecuteNBAStrategy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Recommendations</targetReference>
        </connector>
        <inputParameters>
            <name>input1_Value</name>
            <value>
                <stringValue>tacPlan1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>curUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>input1_Name</name>
            <value>
                <stringValue>salesTacticalPlanName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strategyName</name>
            <value>
                <stringValue>SalesTactical</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxResults</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curRecommendations</assignToReference>
            <name>curRecs</name>
        </outputParameters>
    </actionCalls>
    <formulas>
        <name>curUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>userFirstName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>Display Recommendations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Recommendations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Show_Recommendations</name>
        <label>Show Recommendations</label>
        <locationX>343</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Good morning, {!userFirstName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showNBA</name>
            <extensionName>c:displayNBARecommendationsFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayDescription</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recommendations</name>
                <value>
                    <elementReference>curRecommendations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strategyName</name>
                <value>
                    <stringValue>SalesTactical</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>curUserId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Sales_Recommendations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curRecommendations</name>
        <apexClass>NBARecommendationsList</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
