force-app/main/default/flows/Manage_Tactical_Priorities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Updated_Ordering</name>
        <label>Assign Updated Ordering</label>
        <locationX>1211</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>Get_Team_Tactical_Plan.Tactical_Ordering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dlbSpecifyTactics.SelectedItemsCSV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Ordering</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Might be coming from user or from team record</description>
        <name>Set_Tactical_Ordering</name>
        <label>Set Tactical Ordering from Team Record</label>
        <locationX>723</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>curTacticalOrdering</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Tactical_Plan.Tactical_Ordering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Specify_Tactics</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceIndividual</name>
        <choiceText>Manage an individual User&#39;s priorities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>user</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceTeam</name>
        <choiceText>Manage the Team Priorities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>team</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Team_or_Individual</name>
        <label>Team or Individual?</label>
        <locationX>357</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>User_specific_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Individual</defaultConnectorLabel>
        <rules>
            <name>Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manage_Which_Priorities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceTeam</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Team_Tactical_Plan</targetReference>
            </connector>
            <label>Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_or_Individual_0</name>
        <label>Team or Individual?</label>
        <locationX>1018</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>Individual</defaultConnectorLabel>
        <rules>
            <name>Team_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manage_Which_Priorities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceTeam</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Updated_Ordering</targetReference>
            </connector>
            <label>Team</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>salesTacticalPlans</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SalesTacticalPlan__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Manage Tactical Priorities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Tactical Priorities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Team_Tactical_Plan</name>
        <label>Get Team Tactical Plan</label>
        <locationX>575</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Tactical_Ordering</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Plan</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesTacticalPlan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tactical_Ordering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ordering</name>
        <label>Update Ordering</label>
        <locationX>1399</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Update_Notice</targetReference>
        </connector>
        <inputReference>Get_Team_Tactical_Plan</inputReference>
    </recordUpdates>
    <screens>
        <name>screenTeamOrUser</name>
        <label>Team or User?</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Team_or_Individual</targetReference>
        </connector>
        <fields>
            <name>Select_Plan</name>
            <choiceReferences>salesTacticalPlans</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manage_Which_Priorities</name>
            <choiceReferences>choiceTeam</choiceReferences>
            <choiceReferences>choiceIndividual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Manage Which Priorities</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lookupUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>UserSalesTacticalPlan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select User</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manage_Which_Priorities</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceIndividual</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>original values: Opportunity Value, Einstein Score, Time Before Contract Expiration, Sector Priority</description>
        <name>Specify_Tactics</name>
        <label>Specify Tactics</label>
        <locationX>903</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Updated_Ordering</targetReference>
        </connector>
        <fields>
            <name>dlbSpecifyTactics</name>
            <extensionName>c:dualListBoxFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FullItemSetCSV</name>
                <value>
                    <stringValue>Limited Offers,Case Follow Up,Priority Messages,Einstein (Renewal Risks)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Specify and Order Priorities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedItemsCSV</name>
                <value>
                    <elementReference>curTacticalOrdering</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manage_Which_Priorities</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceTeam</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Notice</name>
        <label>Update Notice</label>
        <locationX>1552</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>updateMessage</name>
            <fieldText>&lt;p&gt;Priorities Updated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_specific_Plans</name>
        <label>Error Message</label>
        <locationX>398</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispNYI1</name>
            <fieldText>&lt;p&gt;User-specific plans are not yet implemented&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screenTeamOrUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curTacticalOrdering</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
