force-app/main/default/flows/Manage_Tactical_Priorities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Updated_Ordering</name>
        <label>Assign Updated Ordering</label>
        <locationX>1211</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>Get_Team_Tactical_Plan.Tactical_Ordering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dlbSpecifyTactics.SelectedItemsCSV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Ordering</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Ordering_to_User_Plan</name>
        <label>Assign Updated Ordering to User Plan</label>
        <locationX>1213</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Sales_Tactical_Plan.Tactical_Ordering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dlbSpecifyTactics.SelectedItemsCSV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Ordering_in_User_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Might be coming from user or from team record</description>
        <name>Set_Tactical_Ordering</name>
        <label>Set Tactical Ordering from Team Record</label>
        <locationX>723</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>curTacticalOrdering</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Tactical_Plan.Tactical_Ordering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Specify_Tactics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Might be coming from user or from team record</description>
        <name>Set_Tactical_Ordering_from_User_Record</name>
        <label>Set Tactical Ordering from User Record</label>
        <locationX>774</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>curTacticalOrdering</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Sales_Tactical_Plan.Tactical_Ordering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Specify_Tactics</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceIndividual</name>
        <choiceText>Manage an individual User&#39;s priorities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>user</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceTeam</name>
        <choiceText>Manage the Team Priorities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>team</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Team_or_Individual</name>
        <label>Team or Individual?</label>
        <locationX>449</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Get_User_Sales_Tactical_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Individual</defaultConnectorLabel>
        <rules>
            <name>Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manage_Which_Priorities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceTeam</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Team_Tactical_Plan</targetReference>
            </connector>
            <label>Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_or_Individual_0</name>
        <label>Team or Individual?</label>
        <locationX>1050</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Assign_Updated_Ordering_to_User_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Individual</defaultConnectorLabel>
        <rules>
            <name>Team_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manage_Which_Priorities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceTeam</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Updated_Ordering</targetReference>
            </connector>
            <label>Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Record_Exists</name>
        <label>User Record Exists?</label>
        <locationX>572</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Create_UserSalesTacticalPlan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Sales_Tactical_Plan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tactical_Ordering_from_User_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Manage Tactical Priorities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Tactical Priorities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_UserSalesTacticalPlan</name>
        <label>Create UserSalesTacticalPlan</label>
        <locationX>896</locationX>
        <locationY>491</locationY>
        <assignRecordIdToReference>curUserSalesTacticalPlanId</assignRecordIdToReference>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>lookupUser.recordName</elementReference>
            </value>
        </inputAssignments>
        <object>UserSalesTacticalPlan__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Team_Tactical_Plan</name>
        <label>Get Team Tactical Plan</label>
        <locationX>577</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Tactical_Ordering</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesTacticalPlan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tactical_Ordering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Sales_Tactical_Plan</name>
        <label>Get User Sales Tactical Plan</label>
        <locationX>582</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Record_Exists</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lookupUser.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserSalesTacticalPlan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tactical_Ordering__c</queriedFields>
        <queriedFields>Tactic_Sector_Focus__c</queriedFields>
        <queriedFields>Tactic_Opp_Value__c</queriedFields>
        <queriedFields>Tactic_Proximity_to_Renewal__c</queriedFields>
        <queriedFields>Tactic_Einstein_Score__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ordering</name>
        <label>Update Ordering</label>
        <locationX>1399</locationX>
        <locationY>42</locationY>
        <inputReference>Get_Team_Tactical_Plan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ordering_in_User_Plan</name>
        <label>Update Ordering in User Plan</label>
        <locationX>1404</locationX>
        <locationY>375</locationY>
        <inputReference>Get_User_Sales_Tactical_Plan</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>897</locationX>
        <locationY>648</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispError</name>
            <fieldText>&lt;p&gt;This flow does not yet support the scenario where an individual is selected but they don&#39;t already have a UserSalesTacticalPlan. To work around this, create one manually that&#39;s pointed to the user you&#39;re accessing.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenTeamOrUser</name>
        <label>Team or User?</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Team_or_Individual</targetReference>
        </connector>
        <fields>
            <name>Manage_Which_Priorities</name>
            <choiceReferences>choiceTeam</choiceReferences>
            <choiceReferences>choiceIndividual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Manage Which Priorities</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lookupUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>UserSalesTacticalPlan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select User</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manage_Which_Priorities</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceIndividual</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Specify_Tactics</name>
        <label>Specify Tactics</label>
        <locationX>903</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Team_or_Individual_0</targetReference>
        </connector>
        <fields>
            <name>dlbSpecifyTactics</name>
            <extensionName>c:dualListBoxFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FullItemSetCSV</name>
                <value>
                    <stringValue>Opportunity Value, Einstein Score, Time Before Contract Expiration, Sector Priority</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Specify and Order Priorities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedItemsCSV</name>
                <value>
                    <elementReference>curTacticalOrdering</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manage_Which_Priorities</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceTeam</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screenTeamOrUser</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curTacticalOrdering</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curUserSalesTacticalPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserSalesTacticalPlan__c</objectType>
    </variables>
    <variables>
        <name>curUserSalesTacticalPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
