force-app/main/default/flows/TestFlow_TacticalOpportunityGeneration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Sales_Priorities</name>
        <label>Generate Sales Priorities</label>
        <locationX>225</locationX>
        <locationY>50</locationY>
        <actionName>GenerateSalesTacticalPriorities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Test_Flow_for_Tactical_Recommendation_Gen</targetReference>
        </connector>
        <inputParameters>
            <name>maxResults</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesTacticalPlanName</name>
            <value>
                <stringValue>tacPlan1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tacticName</name>
            <value>
                <stringValue>Sector Focus</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>curUserId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>returnedRecommendations</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <formulas>
        <name>curUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>TestFlow_TacticalOpportunityGeneration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestFlow_TacticalOpportunityGeneration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Test_Flow_for_Tactical_Recommendation_Gen</name>
        <label>Test Flow for Tactical Recommendation Gen</label>
        <locationX>406</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispReturnedRecs</name>
            <fieldText>&lt;p&gt;Returned Recommendations: &lt;/p&gt;&lt;p&gt;{!returnedRecommendations}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Generate_Sales_Priorities</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>returnedRecommendations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation</objectType>
    </variables>
</Flow>
